	<!-- Start Footer -->
	<footer class="bg-dark" id="tempaltemo_footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 pt-5">
					<h2 class="h2 text-success border-bottom pb-3 border-light logo">{{site.title}}</h2>
					<ul class="list-unstyled text-light footer-link-list">
						<li>
							<i class="fas fa-map-marker-alt fa-fw"></i>
							{{contact.address}}
						</li>
						<li>
							<i class="fa fa-phone fa-fw"></i>
							<a class="text-decoration-none" href="tel:{{remove_whitespace contact.phone}}">{{contact.phone}}</a>
						</li>
						<li>
							<i class="fa fa-envelope fa-fw"></i>
							<a class="text-decoration-none" href="mailto:{{contact.mail}}">{{contact.mail}}</a>
						</li>
						<li>
							<i class="fa fa-hashtag fa-fw"></i>
							{{contact.btw}}
						</li>
					</ul>
				</div>

				<div class="col-md-4 pt-5">
					{{!-- <h2 class="h2 text-light border-bottom pb-3 border-light">Artikelen</h2>
					<ul class="list-unstyled text-light footer-link-list">
						{{#each collections}}
							{{#if_eq @key 'artikelen'}}
								<a class="text-decoration-none" href="{{../../rootPath}}{{@key}}.html">Alle</a>
							{{else}}
							<li>
								<a class="text-decoration-none" href="{{../../rootPath}}{{@key}}.html">{{@key}}</a>
							</li>
							{{/if_eq}}
						{{/each}}
					</ul> --}}
				</div>

				<div class="col-md-4 pt-5">
					<h2 class="h2 text-light border-bottom pb-3 border-light">Meer Info</h2>
					<ul class="list-unstyled text-light footer-link-list">
						{{!-- <li><a class="text-decoration-none" href="{{rootPath}}index.html">Home</a></li> --}}
						<li><a class="text-decoration-none" href="{{rootPath}}index.html">Over ons</a></li>
						<li><a class="text-decoration-none" href="{{rootPath}}portfolio.html">Portfolio</a></li>
						<li><a class="text-decoration-none" href="{{rootPath}}contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			{{!-- <div class="row text-light mb-4">
				<div class="col-12 mb-3">
					<div class="w-100 my-3 border-top border-light"></div>
				</div>
				<div class="col-auto me-auto">
					<ul class="list-inline text-left footer-icons">
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
						</li>
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
						</li>
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
						</li>
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-auto">
					<label class="sr-only" for="subscribeEmail">Email address</label>
					<div class="input-group mb-2">
						<input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
						<div class="input-group-text btn-success text-light">Subscribe</div>
					</div>
				</div>
			</div> --}}
		</div>

		<div class="w-100 bg-black py-3">
			<div class="container">
				<div class="row pt-2">
					<div class="col-12">
						<p class="text-left text-light">
							Copyright &copy; {{get_current_year}} Colman Joeri | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<!-- Fullscreen element (hidden by default) -->
	<div id="fullscreen" style="display:none;"></div>

	<!-- Start Script -->
	<script src="{{rootPath}}assets/js/jquery-1.11.0.min.js"></script>
	<script src="{{rootPath}}assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{rootPath}}assets/js/bootstrap.bundle.min.js"></script>
	<script src="{{rootPath}}assets/js/templatemo.js"></script>
	<script src="{{rootPath}}assets/js/custom.js"></script>
	<!-- End Script -->
</body>

</html>
